
.auth{
	text-align: center;
}

.auth .head{
	font-size: 22px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.auth .subhead{
	font-size: 14px;
	font-weight: bold;
	display: block;
	margin: 15px 0;
}

.auth .btn-social{
	width: 80px;
	color: #333;
}

.auth .btn-social-google .fa-stack{
	color: #de5449;
}

.auth .btn-social-facebook .fa-stack{
	color: #3b5998;
}

.auth .social-title{
	display: block;
}

.auth .divider{
	margin: 15px auto 30px;
	display: block;
	width: 14px;
	position: relative;
	font-size: 14px;
}

.auth .divider:before{
	position: absolute;
	content: "";
	left: -137px;
	top: 12px;
	height: 1px;
	width: 115px;
	background-color: #eee;
}

.auth .divider:after{
	position: absolute;
	content: "";
	right: -137px;
	top: 12px;
	height: 1px;
	width: 115px;
	background-color: #eee;
}

.auth .auth-register,
.auth .auth-login{
	padding: 15px 0 0;
}
