.social-share-wrap{
	background: #eee;
	padding: 10px 0;
}
.social-share-icons{
	display: inline-block;
	vertical-align: middle;
}
.social-share-icons-sm{
	font-size:10px;
}
.social-share-icons-md{
	font-size:12px;
}
.social-share-icons-lg{
	font-size:16px;
}