.bree{
	font-family: "Bree Serif", serif;
}
.lato{
	font-family: "Lato", sans-serif;
}
.sansita{
	font-family: 'Sansita One', serif;
}
.b{font-weight:700;}
.l{font-weight:300;}
.n{font-weight:400;}
.upper{
	text-transform: uppercase;
}